@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form method="post">
        <div>
            Url:
            <input type="text" name="url" />
        </div>
        <div>
            Глубина:
            <input type="number" name="depth" min="1"/>
        </div>
        <input type="submit" value="Искать" />
    </form>
</body>
</html>
