@{
    List<HtmlSource> data = ViewBag.Data;
    var dataser = ViewBag.DataSer;
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form method="post" action="/Home/SaveChanges">
        @foreach (var html in data)
        {
            <p>
                @html.url
            </p>
        }
        <input type="hidden" name="data" value="@data" />
        <input type="hidden" name="dataSer" value="@dataser" />
        <input type="submit" value="Сохранить" />
    </form>
</body>
</html>